.place-order {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.book-now-btn {
    width: 100% !important;
}

.date-picker {
    width: 100%;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
}

@media (max-width: 768px) {
    .book-now-page {
        width: 90% !important;
        display: block !important;
    }
    .service-detail {
        width: 100% !important;
    }
    .book-now-form {
        margin: auto !important;
        width: 100% !important;
    }
}